.DS_Store
__pycache__
.ipynb_checkpoints
venv/
.venv/
env/
.env
.vscode
debug.py
debug.ipynb
debug.sh
.idea/*
transformers
wandb/
log/
*.log
outputs/
data/
jobs/
debug/
audio/
exp/
examples/asr_librispeech/scripts/decode_hubert_xtralarge_linear_vicuna_7b_copy.sh
scripts_all
examples/asr_librispeech/scripts/decode_hubert_xtralarge_linear_vicuna_7b_debug.sh