torch>=2.0.1
accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
peft
transformers>=4.45.2
tiktoken
sentencepiece
py7zr
scipy
optimum
wandb
hydra-core>=1.3.2
openai-whisper
soundfile
torchaudio
pandas
tqdm
numpy
